.wrap{
    width: 1024px;
    font-family: Segoe UI;
    color:#707070;
    margin:0 auto;
  }
  .title{
    width: 400px;
    margin:0 auto;
    position: relative;
  }
  .title img{
    float: left; 
    padding-right:20px;
  }
  .title h1{
    float: left;
    font-weight: bold;
    text-align: center;
    color:#707070;
  }
  a{
    color:#707070;
    text-decoration:none;
  }
  .hello{
    width: 180px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    float: left;
    position: absolute;
    left:950px;
  }
  .logout{
      width: 80px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      float:left;
      position: absolute;
      left:1100px;
  }
  .box1,.box2,.box3,.box4,.box5,.box6{
      float: left;
      margin-left: 150px;
      margin-top: 100px;
  }
  .box1 img,.box2 img,.box3 img,.box4 img,.box5 img,.box6 img{
    height: 150px;
    width: 150px;
}
.analysis{
  float: left;
  position: relative;
  right: 30px;
  top:10px;
}